
.chats-header{
    position: relative;
    height: 40px;
    width: 100%;
    background-color: rgb(32 44 51);
}

.chats-header .profile{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;

    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.chats-header button{
    position: absolute;
    height: 20px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}